     
      .centrar-contenido{
        text-align: center !important;
        align-items: center !important;
        margin: auto !important;
        padding: auto !important;
      }
      
      
      .color-boton{
        background-color: #308446 !important;  
        color: white !important;
    }

 .color-boton:hover{
background-color: #1F6116 !important;
    }

    .separar6{
      margin-top: 10px !important;
    }
    .separar5{
      margin-top: 20px !important;
    }

    .footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
    .footer-bs .footer-brand h2 { margin:0px 0px 10px; }
    .footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }
    
    .footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
    .footer-bs .footer-nav ul.pages li { padding:5px 0px;}
    .footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
    .footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
    .footer-bs .footer-nav h4 {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom:10px;
    }
    
    .footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
    .footer-bs .footer-nav ul.list li { padding:5px 0px;}
    .footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
    .footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }
    
    .footer-bs .footer-social ul { list-style:none; padding:0px; }
    .footer-bs .footer-social h4 {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .footer-bs .footer-social li { padding:5px 4px;}
    .footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
    .footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
    
    .footer-bs .footer-ns h4 {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom:10px;
    }
    .footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }
    .color-fondo{
        background-color:#D99058;
    }

.color-nadvad{
        background-color: #D99058 !important;
      }
      .letras{
        color: white !important;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px !important;
        }

.sombra{
  box-shadow:   2px 2px 10px #666 !important
  
}

.separar-botones{
  padding: 10px !important;
}

.separar-con{
  padding: 100px !important;
}


.separar2{
    margin-top: 200px !important;
  }

  .letras{
    color: white !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px !important;
    }

    
    .zoom{
      /* Aumentamos la anchura y altura durante 2 segundos */
      transition: width 1s, height 1s, transform 1s;
      -moz-transition: width 2s, height 2s, -moz-transform 2s;
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
      -o-transition: width 2s, height 2s,-o-transform 2s;
  }
  .zoom:hover{
      /* tranformamos el elemento al pasar el mouse por encima al doble de
         su tamaño con scale(2). */
      transform : scale(1.1);
      -moz-transform : scale(1.1);      /* Firefox */
      -webkit-transform : scale(1.1);   /* Chrome - Safari */
      -o-transform : scale(1.1);        /* Opera */
  }